In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# constants
FOLDER_INTERIM = os.environ.get("DIR_DATA_INTERIM")
DATA_CRIME_CATEGORY = "df_category.csv"
FIG_SIZE = (30, 15)
TITLE_SIZE = 40

In [2]:
df_category = pd.read_csv(filepath_or_buffer=FOLDER_INTERIM + "/" + DATA_CRIME_CATEGORY,
                          parse_dates=['Outcome Date'])

Crime by category

In [3]:
df_category

,Outcome Date,Ward Name,Category,Population,Crime Incidences,Crime Rate
0,2015-01-01,Belsize,Bicycle theft,14704.67,2,0.000136
1,2015-04-01,Belsize,Bicycle theft,14704.67,1,0.000068
2,2015-05-01,Belsize,Bicycle theft,14704.67,4,0.000272
3,2015-06-01,Belsize,Bicycle theft,14704.67,5,0.000340
4,2015-08-01,Belsize,Bicycle theft,14704.67,2,0.000136
...,...,...,...,...,...,...
11243,2019-04-01,West Hampstead,Violence and sexual offences,14523.81,3,0.000207
11244,2019-05-01,West Hampstead,Violence and sexual offences,14523.81,40,0.002754
11245,2019-06-01,West Hampstead,Violence and sexual offences,14523.81,41,0.002823
11246,2019-07-01,West Hampstead,Violence and sexual offences,14523.81,48,0.003305
11247,2019-08-01,West Hampstead,Violence and sexual offences,14523.81,49,0.003374

Crime by category by year

Trying to do crime by year, by ward and by category gets busy so explore alternative methods - a graph database!